main {
    background-color: $main-color;

    h1 {
        font-family: $text;
        text-align: center;
        padding-top: 30px;
        color: $main-h1-color;
        text-transform: uppercase;
        font-size: xx-large;
        font-weight: 650;
    }

    h2 {
        font-family: $text;
        text-decoration: underline;
        color: $main-h2-color;
        padding-left: 25px;
        padding-top: 40px;
    }

}
