$navbar-color:#207df7;
$footer-color: #0844a4;
$main-color: #4d4d4d;
$main-h1-color: white;
$main-h2-color: white;

$box-shadow-color: #207df7;
$pb-color: #000;
$pb-h5-color: white;
$pb-p-color: #207df7;


$text: "Alata", sans-serif;
