.fondo-carrito {
    background-color: rgb(48, 43, 43);
    background-size: cover;
}

.compra {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 330px;
    column-gap: 20px;
}

    

.columna1 {
    @include flex-p(column, center);
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 20px;
    border: 3px solid black;

    h1 {
        color: black;
        font-weight: bold;
        font-family: "Alata", sans-serif;
    }

    h2 {
        color: black;
        font-size: larger;
        font-family: "Alata", sans-serif;
    }

    .carrito img {
        height: 100px;
    }
    
}


.columna2 {
    background-color: white;
    margin-top: 30px;
    margin-right: 50px;
    margin-bottom: 150px;
    border-radius: 20px;
    border: 3px solid black;

    h2 {
        color: black;
        padding-left: 10px;
        font-family: "Alata", sans-serif;
    }

    .dinero {
        @include flex-a(row, space-between);
        padding-left: 10px;
        padding-right: 10px;
    
    }
}

.h3-registro {
    color: rgba(0, 0, 0, 0.783);
    padding-top: 0;
    text-decoration: none;
    text-align: center;
    font-size: xx-large;
}

@media (min-width: 744px) and (max-width: 949.99px) {
.compra{
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 330px;
}

.columna1 {
    margin-top: 30px;
    margin-left: 80px;
    margin-bottom: 30px;
}

.columna2 {
    margin-top: 10px;
    margin-left: 80px;
    margin-bottom: 30px;
    margin-right: 300px;
}
} 

@media (max-width: 744px) {
    .compra{
        display: grid;
        grid-template-columns: 95%;
        grid-template-rows: 400px;
    }

    .columna1 {
        margin-top: 30px;
        margin-left: 20px;
        margin-bottom: 30px;

        h2 {
            @include flex-p(row, center);
            margin-left: 40px;
        }
    }

    .columna2 {
        margin-top: 10px;
        margin-left: 20px;
        margin-bottom: 30px;

        h2 {
            font-size: large;
        }

        .dinero h3 {
            font-size: large;
        }

    }
}





